/* src/app/app.component.scss */
.app-container {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 2em;
    color: #4CAF50; /* Green color */
  }
  
  p {
    font-size: 1.2em;
    color: #555; /* Darker text color */
  }
  